/*Selector {
    Property: value;
}*/

* {
    text-align: right;
}

body {
    background-image: url(background-image.jpeg);
    background-size: cover;
}

h2, p {
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(255, 176, 170, 0.5);
    cursor: pointer;
}

p {
    color: pink;
}

p {
    color: white;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext:last-child {
    border: 5px dashed green;
}

.webtext:first-child {
    border: 5px dashed grey;
}
.active {
    color: red;
}

#div1 {
    background: rgba(0, 0, 255, 0.2);
}

#div2:hover {
    background: rgba(255, 0, 0, 0.2);
}

/*Selectors:
a is element
.class is class
#id is id
*/